body{
	font-family:"Helvetica Neue,Helvetica", "微軟正黑體";
	margin:0;
	padding:0;
	background:#FFF;
}
h1{
	width: 100%;
	color:#514f4c;
	border-bottom: 1.5px  solid #dcdddd; 
	font-size: 25px;
	font-weight:bold;
	padding:0 0 10px 20px; 
}

p, li{
	color:#514f4c;
	font-size: 16px;
	line-height: 25px;
}

h2{
	color:#892929;
	font-size: 20px;
	font-weight:bold;
}
h3{
	color:#514f4c;
	font-size: 16px;
}

/*header*/
header{
	position:fixed;
	top:0;
	width:100%;
	font-size:20px;
	font-weight:bold;
	min-width:120px;
	box-sizing:border-box;
	background: #dcdddd;
	z-index:1000;
}

#logo{
	display: inline-block;
	box-sizing:border-box;
}

#lang {
	position: fixed;
	top: 5px;
	right: 5px;
	
}

#lang p{
	font-size: 16px;
	border: 1px  solid #514f4c ;
	border-radius: 60px;
	transition: 0.4s;
	padding: 0 10px;
	margin-left: 10px;
	display:inline-block;
	box-sizing:border-box;
}

#lang p:hover{
	background-color: #514f4c;
	color:#FFF;
}

#lang a{
	line-height:30px;
	color: #514f4c;
	text-decoration:none;
	text-align:center;
	transition: 0.4s;
}

nav{
	width:100%;
	margin:100px 0 10px 0; 
	box-sizing:border-box;
	text-align:right;
}

nav ul{
	padding:0;
	margin:0;
	list-style: none;
}

nav li{
	display: inline-block;
	margin:0px 30px;
}

nav li a{
	display:inline-block;
	color: #514f4c;
	text-decoration:none;
	text-align:center;
	border-bottom: 2px  solid #514f4c ; 
	transition: 0.4s;
}

nav li a:hover {
	color:#892929;
	border-bottom: 2px  solid #892929 ;
}

#a1>a, #a2>a, #a3>a, #a4>a, #a5>a{
	padding-bottom: 5px;
}

#navbar-spy {
	background-color: #dcdddd;
}
#myNavbar {
	margin-bottom: 20px;
}
/*背景圖片*/
.bg {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: -999;
}
.bg img {
	min-height: 100%;
	width: 100%;
}

/*section1*/
#s1{
	width:75%;
	min-width:980px;
	margin:auto;
	margin-top:180px;
}

article{
	width:100%;
	box-sizing:border-box;
	display:inline-block;
}

.textbox{
	float:left;
	width:60%;
	box-sizing:border-box;
	padding-left: 40px;
	margin-bottom: 40px;
}

.date img{
	float:left;
	width:30%;
	box-sizing:border-box;
	margin:20px 0 0px 40px;
}

.textbox1{
	width:90%;
	box-sizing:border-box;
	display:inline-block;
	margin: auto;
	margin-left: 40px;
	padding-top: 20px;
	padding-bottom: 20px;
	border-top: 1px  solid #892929 ;
}

.book img{
	float:left;
	width:30%;
	box-sizing:border-box;
	margin:20px 0 60px 40px;
}

.book a{
	text-decoration: none;
}

.resource img{
	float:left;
	width:60%;
	box-sizing:border-box;
	margin:20px 0 60px 40px;
}

.textbox2{
	float:left;
	width:60%;
	box-sizing:border-box;
	margin: 40px 0 40px 40px;
}

/*section2*/
#s2{
	width:75%;
	min-width:980px;
	margin:auto;
}

content{
	float:left;
	width:100%;
	box-sizing:border-box;
	padding-left: 40px;
	margin-bottom: 40px;
}

.textbox3{
	float:left;
	width:40%;
	box-sizing:border-box;
	margin: 10px 0 0px 40px;
}

.lecturer img{
	float:left;
	width:35%;
	box-sizing:border-box;
	margin:40px 0 0px 40px;
}
.mail2{
	float:left;
	width: 60%;
	padding-left: 40px;
}
.mail{
	height: 40px;
	border: 1px  solid #892929;
	margin: 0px 10px 10px 0px;
	font-style:italic;
	box-sizing:border-box;	
	display: inline-block;
}

.mail img{
	height: 30px;
	box-sizing:border-box;	
	display: inline-block;
	margin:5px 0;
}

.mail p{
	font-size: 	14px;
	box-sizing:border-box;
	display: inline-block;
	margin: 5px 10px;
	color:#892929;
}

/*section3*/
#s3{
	width:75%;
	min-width:980px;
	margin:auto;
}

#s3 img{
	width:50%;
	margin: auto;
	margin-top: 40px;
	margin-bottom: 60px;
	box-sizing:border-box;
	display: block;
}

/*section4*/
#s4{
	width:75%;
	min-width:980px;
	margin:auto;
}

.read {
	margin:auto;
	margin-top: 50px;
	width:150px;
	border: 1px  solid #892929;
	padding: 10px;
}

.read p{
	color:#892929;
	font-style:italic;
	border-bottom: 1px  solid #892929;
}

.read a{
	text-decoration: none;
	text-align:center;
}

/*section5*/
#s5{
	width:75%;
	min-width:980px;
	margin:auto;
}

/*section6*/
#s6{
	width:75%;
	min-width:980px;
	margin:auto;
}

.textbox4{
	width:45%;
	box-sizing:border-box;
	display: inline-block;
	margin: 10px 0 60px 40px;
}

.textbox4 img{
	height: 80px;
}
/* register back */
.back {
	margin-top: 50px;
	width:100px;
	border: 1px  solid #892929;
	padding: 10px;
}

.back p{
	color:#892929;
	font-style:italic;
	border-bottom: 1px  solid #892929;
}

.back a{
	text-decoration: none;
	text-align:center;
}

/* footer */
footer{
	clear:both;
	padding:20px 0px;
	color:#514f4c;
	font-size: 14px;
	text-align:center;
}