body{
	font-family:"Helvetica Neue,Helvetica", "微軟正黑體";
	margin:0;
	padding:0;
	background:#FFF;
}
h1{
	width: 100%;
	color:#514f4c;
	border-bottom: 1.5px  solid #514f4c ; 
	font-size: 25px;
	padding:0 0 10px 20px; 
}

p, li{
	color:#514f4c;
	font-size: 16px;
}

h2{
	color:#892929;
	font-size: 22px;
}
h3{
	color:#892929;
	font-size: 20px;
}

/*header*/
header{
	position:fixed;
	top:0;
	width:100%;
	font-size:18px;
	min-width:120px;
	box-sizing:border-box;
	background: #dcdddd;
	z-index:1000;
}

#logo{
	float:left;
	display: inline-block;
	box-sizing:border-box;
}

#lang {
	float:right;
	padding-right: 20px;
}

#lang p{
	font-size: 16px;
	border: 1px  solid #514f4c ;
	border-radius: 60px;
	transition: 0.4s;
	padding: 0 10px;
	margin-left: 10px;
	display:inline-block;
	box-sizing:border-box;
}

#lang p:hover{
	background-color: #514f4c;
	color:#FFF;
}

#lang a{
	line-height:30px;
	color: #514f4c;
	text-decoration:none;
	text-align:center;
	transition: 0.4s;
}

nav{
	width:100%;
	margin:60px 0 20px 0; 
	box-sizing:border-box;
	text-align:right;
}

nav ul{
	padding:0;
	margin:0;
	list-style: none;
}

nav li{
	display: inline-block;
	margin:0px 30px;
}

nav li a{
	display:inline-block;
	line-height:30px;
	color: #514f4c;
	text-decoration:none;
	text-align:center;
	border-bottom: 2px  solid #514f4c ; 
	transition: 0.4s;
}

nav li a:hover{
	color:#892929;
	border-bottom: 2px  solid #892929 ;
}
/*背景圖片*/
.bg {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    	z-index: -999;
    }
.bg img {
        min-height: 100%;
        width: 100%;
		}

/*section1*/
#s1{
	width:80%;
	min-width:980px;
	margin:auto;
	margin-top:140px;
}

article{
	float:left;
	width:100%;
	box-sizing:border-box;
}

article .date{
	float: left;
	position:relative;
	width:25%;
	height:290px;
	padding: 0 40px;
	box-sizing:border-box;
	line-height: 24px;
}

article .date h2{
	font-size: 30px;
	color:#514f4c;
	margin: 0;
}
article .date p{
	font-size: 16px;
	color:#514f4c;
}

article .textbox1{
	float: left;
	width:75%;
	box-sizing:border-box;
	padding:0px 20px;
	}
article .textbox2{
	float: left;
	width:100%;
	box-sizing:border-box;
	padding-left:40px;
	margin-bottom: 40px;
	}
/*section2*/
#s2{
	width:80%;
	min-width:980px;
	margin:auto;
}

content{
	float:left;
	width:100%;
	box-sizing:border-box;
	padding-left: 40px;
	margin-bottom: 40px;
}
.sch img{
		min-height: 100%;
        width: 45%;
        margin-bottom: 40px;
        margin-left:auto;
        margin-right: auto;
        box-sizing:border-box;
        display: block;
}

/*section3*/
#s3{
	width:80%;
	min-width:980px;
	margin:auto;
}

/*section4*/
#s4{
	width:80%;
	min-width:980px;
	margin:auto;
}

/* footer */
footer{
	clear:both;
	padding:20px 0px;
	color:#514f4c;
	font-size: 14px;
	text-align:center;
}